<div class="row">
  <%= render 'sidebar' %>
  <div class="col-md-10">
    <h3><%= @conversation.subject %></h3>
    A conversation between 
    <%= raw(@conversation.recipients.map { |recp| link_to(recp.name, recp) }.join(", ")) %>
    
    <div class="qa-message-list" id="wallmessages">
      <% @receipts.each do |receipt| %>
      <%= render receipt.message %>
      <% end %>
    </div>



      <% if @receipt and @receipt.errors.any? %>	
      <div class="error">
	<h4><%= pluralize(@receipt.errors.count, "error") %> errors:</h4>
	<ul>
	  <% @receipt.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
      <% end %>
      <%= form_tag conversation_path(@conversation), method: :put, class: "cont-conversation" do %>
      <div class="editor">
	<%= text_area_tag :body, nil, rows: 6, cols: 53, class: "required form_tag" %>
      </div>
      <div class="action">
	<%= submit_tag "Reply", name: :reply_all, class: "btn" %>
      </div>
      <% end %>
  </div>
</div>
