<div>
  
  <div class="register">

    <h2>Sign up</h2>

      <%= form_for(@user) do |f| %>
      
      <%= render '/shared/error_messages', object: f.object %>
      
      <div class="form-group">
	<%= f.label :first_name %>
	<%= f.text_field :first_name, class: 'form-control', autofocus: true %>
      </div>

      <div class="form-group">
	<%= f.label :last_name %>
	<%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
	<%= f.label :email %>
	<%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
	<p class="help-block">Must be at least 6 characters.</p>
	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>


      <div class="form-group">
	<label>I am a...</label>
	<div>
	  <%= render partial: 'title', locals: {f: f} %>
	</div>
      </div>

      <div class="form-group">
	<%= f.label :main_interests %>
	<%= f.text_field :main_interests %>
      </div>
      
      <div class="form-group">
	<label>Who/what do you study?</label>
	<%= render partial: 'study', locals: {f: f} %>
      </div>

      <div class="form-group">
	<%= render partial: 'study_location', locals: {f: f} %>
      </div>

      <div class="form-group">
	<label>What are your main interests?</label>
	<div>
	  <%= render partial: 'interests', locals: {f: f} %>
	</div>
      </div>

      <div class="form-group">
	<%= render partial: 'experience', locals: {f: f} %>
      </div>
      
      <div class="form-group">
	<%= f.label :avatar, "Upload a picture of yourself" %>
	<%= f.file_field :avatar %>
      </div>
      
      <div class="form-group">
	<%= f.label :country %>
	<%= f.country_select :country %>
      </div>

      <div class="form-group">
	<%= f.label :state %>
	<%= f.text_field :state %>
      </div>
      
      <div class="form-group">
	<%= f.label :county %>
	<%= f.text_field :county %>
      </div>

      <div class="form-group">
	<%= render partial: 'travel', locals: {f: f} %>
      </div>
      
      
      <%= f.submit "Create my profile", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
</div>
