<% provide(:title, @user.first_name + @user.last_name) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>County:</strong>
  <%= @user.county %>
</p>

<p>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<% if current_user?(@user) || current_user.admin? %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<% if current_user.admin? && !current_user(@user) %>
<%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %> | 
<% end %>
<%= link_to 'Back', users_path %>
