<div class="row">
  <h3><%= user.name %></h3>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag user.avatar.url(:profile) %>
    </div>
  </div>
  <div class="col-sm-6 col-md-8">
    <p></p>
    <div class="progress">
      <% @rate = current_user.match_rate(user) %>
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= @rate %>" aria-valuemax="100" style="width:<%= @rate %>%"> <%= @rate %>% matching rate</div>
    </div>

  </div>
  <span class="badge badge-success">Member for <%= time_ago_in_words(user.created_at) %></span>
  <div class="pull-right">
    <span class="label label-info"><%= user.county %></span>
    <span class="label label-info">Tags</span>
  </div>
  <div class="pull-right">
    <h3><%= link_to 'More information', user %></h3>
  </div>
</div>
<hr>
