<p id="notice"><%= notice %></p>

<div>
  <div class="col-md-3">
    <h4>Main collaborator</h4>
    <p>
      <%= link_to @collaboration.user do %>
      <%= image_tag(@collaboration.user.avatar.url(:collab)) %>
      <% end %>
    </p>
    <p>
      <%= link_to @collaboration.user.first_name + ' ' + @collaboration.user.last_name, @collaboration.user %>
    </p>
    <p>
      <%= @collaboration.county %>, <%= @collaboration.state %>, <%= @collaboration.country %>
    </p>
    <p>
      Research interests:<br />
      <ul>
	<% if @collaboration.user.i_obesity %>
	<li>Obesity</li>
	<% end %>
	<% if @collaboration.user.i_diabetes %>
	<li>Diabetes</li>
	<% end %>
	<% if @collaboration.user.i_heart %>
	<li>Heart disease</li>
	<% end %>
	<% if @collaboration.user.i_injury %>
	<li>Injuries</li>
	<% end %>
	<% if @collaboration.user.i_violence_prevention %>
	<li>Violence prevention</li>
	<% end %>
	<% if @collaboration.user.i_falls %>
	<li>Falls</li>
	<% end %>
      </ul>
    </p>
    <h4>Other collaborators involved (<%= @collaboration.users.count %>):</h4>
    <div class="row">
      <div class="col-sm-4">

      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Project info</h4>
    <p style="overflow:auto"><%= @collaboration.desc %></p>
    <div>
      <div class="panel-body">
	Stage of development: <%= @collaboration.stage %><br />
	Needs for this project:<br />
	<ul>
	  <% if @collaboration.n_funding %>
	  <li>Funding</li>
	  <% end %>
	  <% if @collaboration.n_study_partners %>
	  <li>Study partners</li>
	  <% end %>
	  <% if @collaboration.n_space %>
	  <li>Space</li>
	  <% end %>
	  <% if @collaboration.n_areas_of_expertise %>
	  Expertise in:
	  <%= @collaboration.n_expertise %>
	  <% end %>
	  <% if @collaboration.n_previous_work %>
	  <li>Previous work</li>
	  <% end %>
	</ul>
      </div>
    </div>
    <p class="pull-right">
      <% if current_user?(@collaboration.user) %>
      <%= link_to "Edit", edit_collaboration_path(@collaboration) %>
      <% else %>
      <button type="button" class="btn btn-primary btn-lg">Apply to join</button>
      <% end %>
    </p>
  </div>
</div>

